---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import PricingCmp from '../components/Pricing.astro';
import Newsletter from '../components/Newsletter.astro';
import Footer from '../components/Footer.astro';
import HeroSection from '../components/HeroSection.astro';
---

<Layout title="价格 - 每日手帐">
  <Header />
  <main>
    <HeroSection 
      title="超值的订阅计划" 
      highlightText="订阅计划"
      description="选择合适的计划然后享受吧！"
    />
    <PricingCmp />
    <Newsletter />
  </main>
  <Footer />
</Layout>
